name: Deploy documentation

on:
  push:
    branches:
      - master

jobs:
  deploy:

    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[doc]
    - name: Build docs
      run: |
        cd doc/
        make html
        cd ..
    - name: Deploy docs
      env:
        GH_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      run: .github/deploy-gh-pages.sh
